


@media (max-width:905px) {
    #hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }
    .my-intro .intro {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 15em;
    }
    .intro p {
        font-size: 1.1rem;
        font-weight: 200;
        color: #f1efef;
        margin: 0.5% ;
        align-items: center;
        justify-content: center;
    }
    .about-image img{
        width: 250px;
        height: 250px;
     }
     .about-text h2 {
        font-size: 22px;
        font-weight: 900;
    }
    .about-text h3 {
        font-size: 18px;
    }
    .about-text p {
        font-size: 13px;
        font-weight: 100;
    }
    
   


}

@media (max-width:480px) {
    #sidebar {
        width: 100%;
    }

}