@media only screen and (min-width: 992px) and (max-width: 1349px) {
    .intro p {
        font-size: 23px;
        font-weight: 100;
        color: #f1efef;
        margin: 0.5% 5em;
    }
    .about-text p {
        font-weight: 100;
        padding-right: 7rem;
    }
    .single {
        background-color: #fff;
        padding: 20px 10px;
        margin-bottom: 20px;
        margin-top: 1%;
    }
    #product-list {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}


@media only screen and (min-width: 767px) and (max-width: 1000px) {
   
}

@media (max-width:905px) {
    #hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }

   


    /* .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 1rem;
        margin-top: 3em;
    }

    .col-md-2 {
        text-align: center;
        padding: 6em;
        margin-left: 15em;
    } */

}

@media (max-width:400px) {
    #sidebar {
        width: 100%;
    }

}