@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

section {
    padding: 70px 0px;
}

.loader {
    background-color: #ecf0f1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.loader_element {
    border-radius: 100%;
    margin: calc(5px*1);
}

.loader_element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
    border: 5px solid rgb(255, 196, 0);
}

.loader_element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
    border: 5px solid rgb(255, 196, 0);
}

.loader_element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
    border: 5px solid rgb(255, 196, 0);
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

.my-intro {
    height: 100vh;
    background-image: url(assets/assets/bg.jpg);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                  url("assets/assets/bg.jpg");
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
    display: none;
}

.logo {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #fafafa;
    margin-left: 3em;
}

a span {
    font-size: 35px;
    font-weight: 700;
    color: rgb(255, 196, 0);
}

.navbar .nav {
    text-decoration: none;
    color: #ffffff;
    margin-right: 2em;
    margin-top: 0.5em;
    font-size: 14.7px;
}

.navbar .nav:hover {
    color: rgb(252, 216, 17);
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(44, 44, 44);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sidebar a {
    width: 100%;
    margin-top: 1.5em;
    margin-left: 1em;
}

.menu-btn {
    display: none;
}

.my-intro {
    min-height: 100vh;
}

.my-intro .intro {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15em 3px;
}

.intro .responsive {
    width: 7%;
    height: 7%;
    border-radius: 50%;
}

.intro h2 {
    font-size: 25.5px;
    font-weight: 800;
    color: #f1efef;
}

.intro p {
    font-size: 1.5em;
    font-weight: 200;
    color: #f1efef;
    margin-left: 15%;
    margin-right: 15%;
}

.intro .arrow {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: 22em;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid   #FFCB2F;;
    border-right: 1px solid   #FFCB2F;;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;

}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.about-me {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

 .about-me .me {
    margin-left: 10em;
    margin-top: 2em; 
}

.about-text {
    padding-top: 90px;
    margin-left: 2%;
    margin-right: 20%;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 900;
    margin-top: 0;
}

.about-text h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.about-text p {
    font-weight: 300;
}

.about-text a {
    display: inline-block;
    background: #FFCB2F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #FFCB2F;
    text-decoration: none;
}

.about-text a:hover {
    background: transparent;
    border: 1px solid #FFCB2F;
    color: #333;
}


.my-services {
    background: #F6F6F6;
    overflow-x: hidden;
}

.para {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
    margin-top: 3em;
}

.box {
    border-radius: 0.2em;
    background: #fff;
    text-align: center;
    padding: 40px 10px 20px 30px;
    margin-bottom: 30px;
}

.box i {
    font-size: 30px;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #FFCB2F;
    border: 1px solid #FFCB2F;
}

.box i:hover {
    background: #FFCB2F;
    color: #fff;
    border: 1px solid #FFCB2F;
}

.box h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem;
}

.box p {
    font-size: 0.9rem;
    font-weight: 300;
}

.project {
    background: #F6F6F6;
    padding: 100px;
    position: relative;
    background: url(./assets/assets/bg.jpg);
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
}

.project::after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.col-md-2 {
    text-align: center;
    padding: 6em;
    margin-left: 7%;
}

.col-md-2 h5 {
    font-size: 40px;
    font-weight: 900;
    color: #FFCB2F;
}

.col-md-2 h3 {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.experience {
    background: #F6F6F6;
    overflow-x: hidden;
}

.box-container {
    padding-left: 15%;
}

.single {
    background-color: #fff;
    padding: 40px 30px;
    margin-bottom: 20px;
    margin-top: 1%;
}

.single h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0;
}

.single h3 {
    margin-top: 0;
    font-size: 13px;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
}

.single span {
    float: right;
    margin-top: -30px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    background-color: #FFCB2F;
}

.single p {
    font-size: 0.9rem;
}

.recent-work {
    background-color: #fff;
    overflow-x: hidden;
}

.work {
    display: flex;
    justify-content: center;
    list-style: none;
}

.filter {
    padding-top: 8px;
    padding-bottom: 4px;
    margin: 0 8px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #FFCB2F;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    background-color: #fff;
    margin-top: 2%;
}

.filter:hover {
    color: #fff;
    border: 1px solid #FFCB2F;
    background-color: #FFCB2F;
}

#product-list {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 90%;
    height: 95%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 95%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    filter: alpha(opacity=50);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__description {
    font-size: 1.2em;
    /* margin-top: 0.25em; */
}

.testimonial {
    padding: 100px 0px;
    position: relative;
    background: url(./assets/assets/testi.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.testimonial:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.para {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.carousel-inner {
    color: #000;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.carousel-item i {
    font-size: 18px;
    margin-bottom: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #FFCB2F;
    background-color: #fff;
    margin-top: 2em;
}

.carousel-item p {
    color: #fff;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 1%;
}

.carousel-item h2 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.carousel-item h3 {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
}

.contact-form {
    overflow-x: hidden;
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single1{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.single1 i{
    font-size: 18px;
    margin-bottom: 40px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    border: 1px solid #FFCB2F;
    background-color: #FFCB2F;
    text-align: center;
}

.item h2{
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 0;
}

.contact-me {
    margin: 3%  15%;
}

.contact-me .form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    margin-bottom: 25px;
}
.contact-me form textarea{
    padding: 5px 0px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    margin-top: 2%;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
    background: none;
    border-bottom: 1px solid #7c7b7b;
    min-height: 145px;
    max-height: 145px;
}

.contact-me .form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}
.contact-me .form-control::placeholder{
    color: #5c5b5b;
    font-weight: 100;
}

.contact-me input {
    display: inline-block;
    color: #fff;
    background: none;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #FFCB2F;
    font-size: 12px;
    border-radius: 0px;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 30px;
    background: #FFCB2F;
}

.contact-me input:hover {
    background: transparent;
    border: 1px solid #FFCB2F;
    color: #000;

}

.footer {
    background: #0C0B0B;
    padding: 120px 0px;
}

.footer p {
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.footer-social-link {
    margin-top: 10px;
}

.footer-social-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-link ul li {
    display: inline-block;
    margin: 0px 10px;
}

.footer-social-link ul li a {
    display: block;
    color: #FFCB2F;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

.footer-social-link ul li a:hover {
    color: #ccc;
}

