@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1px;
}
/* body{
    min-height: 100vh;
    background: url(./assets/assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   background: rgba(68, 62, 62, 0.438);
} */
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 100;
   padding: 20px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color:#333;;
}
.logo span{
    font-size: 35px;
    font-weight: 600;
    color:rgb(255, 208, 0);
}
.logo {
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
    margin-left: 10em;
}
#menu-bars {
    font-size: 1.5rem;
    color:rgb(255, 208, 0); 
    cursor: pointer;
    margin-right: 7em;

  }
/* .navbar a{
    font-size: 0.9rem;
    color: #fafafa;
    margin-left: 12px;
}
.navbar a:hover{
    color:rgb(255, 208, 0); 
} */

.my-intro {

}

.about-me {

}

.my-services { 

}

.experience {

}

.recent-work {

}

.contact-form {

}

.footer {
  
}



